.vscode/c_cpp_properties.json
*.o
.svn/
nachos
*.depends
Diaz-Litmanovich-Martin/trunk/nachos-unr21a/code/bin/coff2flat
Diaz-Litmanovich-Martin/trunk/nachos-unr21a/code/bin/coff2noff
Diaz-Litmanovich-Martin/trunk/nachos-unr21a/code/bin/disassemble
Diaz-Litmanovich-Martin/trunk/nachos-unr21a/code/bin/readnoff
