.vscode/c_cpp_properties.json
*.o
NACHOS/nachos-unr21a/code/bin/coff2flat
NACHOS/nachos-unr21a/code/bin/coff2noff
NACHOS/nachos-unr21a/code/bin/disassemble
NACHOS/nachos-unr21a/code/bin/readnoff
NACHOS/nachos-unr21a/code/filesys/nachos
NACHOS/nachos-unr21a/code/network/nachos
NACHOS/nachos-unr21a/code/threads/nachos
NACHOS/nachos-unr21a/code/userland/echo
NACHOS/nachos-unr21a/code/userland/echo.coff
NACHOS/nachos-unr21a/code/userland/filetest
NACHOS/nachos-unr21a/code/userland/filetest.coff
NACHOS/nachos-unr21a/code/userland/halt
NACHOS/nachos-unr21a/code/userland/halt.coff
NACHOS/nachos-unr21a/code/userland/matmult
NACHOS/nachos-unr21a/code/userland/matmult.coff
NACHOS/nachos-unr21a/code/userland/shell
NACHOS/nachos-unr21a/code/userland/shell.coff
NACHOS/nachos-unr21a/code/userland/sort
NACHOS/nachos-unr21a/code/userland/sort.coff
NACHOS/nachos-unr21a/code/userland/tiny_shell
NACHOS/nachos-unr21a/code/userland/tiny_shell.coff
NACHOS/nachos-unr21a/code/userland/touch
NACHOS/nachos-unr21a/code/userland/touch.coff
NACHOS/nachos-unr21a/code/userprog/nachos
NACHOS/nachos-unr21a/code/vmem/nachos
